@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=EB+Garamond:wght@400&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #141c3a;
}

h2 {
  font-family: 'EB Garamond', serif;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  font-weight: 600;
  margin: .5rem 0;
}